In [1]:
# dependencies
import pandas as pd
import gmaps
import requests

# import api
from config import g_key

In [2]:
# store the csv into df
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-01-26 16:12:04,-42.8794,147.3294,62.06,77,84,1.99
1,1,Ushuaia,AR,2022-01-26 16:12:04,-54.8000,-68.3000,53.26,62,75,28.77
2,2,Ribeira Grande,PT,2022-01-26 16:12:05,38.5167,-28.7000,63.00,67,75,9.22
3,3,Khatanga,RU,2022-01-26 16:12:05,71.9667,102.5000,-7.76,87,49,9.51
4,4,Hermanus,ZA,2022-01-26 16:12:06,-34.4187,19.2345,71.80,82,98,14.54

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# config maps to use g-key
gmaps.configure(api_key=g_key)

In [5]:
# heatmap of temps
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get max temps - google doesn't map negative temps, so remove negatives
max_temp = city_data_df['Max Temp']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# heatmap of percent humidity
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get percent humidity
humidity = city_data_df['Humidity']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# heatmap of cloudiness
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get max temps - google doesn't map negative temps, so remove negatives
clouds = city_data_df['Cloudiness']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# heatmap of wind speeds
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get max temps - google doesn't map negative temps, so remove negatives
wind = city_data_df['Wind Speed']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# ask customer to add min and max temp values
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 65

In [22]:
# filter df to find cities that match criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-01-26 16:12:04,-42.8794,147.3294,62.06,77,84,1.99
2,2,Ribeira Grande,PT,2022-01-26 16:12:05,38.5167,-28.7000,63.00,67,75,9.22
6,6,Busselton,AU,2022-01-26 16:12:07,-33.6500,115.3333,64.09,75,100,13.78
14,14,Risod,IN,2022-01-26 16:12:11,19.9667,76.7833,61.97,35,0,9.48
20,20,New Norfolk,AU,2022-01-26 16:12:14,-42.7826,147.0587,61.72,68,82,1.01
79,79,Muros,ES,2022-01-26 16:13:42,42.7762,-9.0603,60.84,46,0,4.59
93,93,Hassan,IN,2022-01-26 16:13:49,13.0006,76.0994,62.94,89,54,10.33
110,110,Bantou,CN,2022-01-26 16:14:58,26.2151,117.4893,60.19,92,49,1.72
136,136,Lata,PT,2022-01-26 16:15:12,40.1629,-8.3327,60.93,47,7,5.28
141,141,La Palma,US,2022-01-26 16:16:14,33.8464,-118.0467,61.30,89,100,0.00

In [23]:
preferred_cities_df.count()

City_ID       26
City          26
Country       26
Date          26
Lat           26
Lng           26
Max Temp      26
Humidity      26
Cloudiness    26
Wind Speed    26
dtype: int64

In [24]:
# create df called hotel_df to store hotel names w/ city, country, max temp, and coords
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Hobart      AU     62.06 -42.8794  147.3294
2    Ribeira Grande      PT     63.00  38.5167  -28.7000
6         Busselton      AU     64.09 -33.6500  115.3333
14            Risod      IN     61.97  19.9667   76.7833
20      New Norfolk      AU     61.72 -42.7826  147.0587
79            Muros      ES     60.84  42.7762   -9.0603
93           Hassan      IN     62.94  13.0006   76.0994
110          Bantou      CN     60.19  26.2151  117.4893
136            Lata      PT     60.93  40.1629   -8.3327
141        La Palma      US     61.30  33.8464 -118.0467

Parameters we will use for hotel search:
* API key
* Lat and Long
* 5000 meter radius
* Type of place

In [25]:
# set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key}

# iterate through the df
for index, row in hotel_df.iterrows():
    # get the lat and long
    lat = row['Lat']
    lng = row['Lng']
    
    # add the lat and long to location key for the params dict
    params['location'] = f'{lat},{lng}'
    
    # use search term: 'loding' and our lat and long
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # make req and get json data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hobart,AU,62.06,-42.8794,147.3294,Mantra on Collins Hobart
2,Ribeira Grande,PT,63.00,38.5167,-28.7000,Quinta da Meia Eira
6,Busselton,AU,64.09,-33.6500,115.3333,Observatory Guest House
14,Risod,IN,61.97,19.9667,76.7833,Nikhil vitthal Parbat
20,New Norfolk,AU,61.72,-42.7826,147.0587,The Shingles Riverside Cottages
79,Muros,ES,60.84,42.7762,-9.0603,Apartment Av. Castelao
93,Hassan,IN,62.94,13.0006,76.0994,Southern Star Hassan
110,Bantou,CN,60.19,26.2151,117.4893,
136,Lata,PT,60.93,40.1629,-8.3327,Casa Maquia
141,La Palma,US,61.30,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park

In [18]:
# add a heatmap of temp for vacation spots
# variables
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

# add layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# call fig
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ºF</dd>
'''

# store the df row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# add a heatmap of temp for vacation spots and pop-ups for each city
# variables
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# call fig
fig